body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    background-color: #f8fafc;
  }
  
  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Opcional: Define a altura do container como a altura total da janela do navegador */
  }

  .buttonClass {
  font-size:15px;
  font-family:Arial;
  width:140px;
  height:50px;
  color:#fff;
  border-color: transparent;
  border-top-left-radius:9px;
  border-top-right-radius:9px;
  border-bottom-left-radius:9px;
  border-bottom-right-radius:9px;
  background:rgba(36, 227, 190, 1);
  }

  .buttonClass2 {
    font-size:15px;
    font-family:Arial;
    width:200px;
    height:30px;
    color:#fff;
    border-color: transparent;
    border-top-left-radius:9px;
    border-top-right-radius:9px;
    border-bottom-left-radius:9px;
    border-bottom-right-radius:9px;
    background:rgba(36, 227, 190, 1);
    }

  .textClass {
   padding: 15px;
   font-size: 16px;
   border-width: 0px;
   border-color: #CCCCCC;
   background-color: #FFFFFF;
   color: #000000;
   border-style: solid;
   border-radius: 9px;
   box-shadow: 0px 0px 2px #CCCCCC;
  }

  .chatTextClass {
    width: 700px;
    padding: 15px;
    font-size: 16px;
    border-width: 0px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 9px;
    box-shadow: 0px 0px 2px #CCCCCC;
  }

  .textH2{
      color: rgba(36, 227, 190, 1);
      font-size: 35px;
      font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  }

  .acceptClass{
  font-size: 12px;
  color: #858585;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  }

  .accept{
      text-decoration: none;
      color: rgba(36, 227, 190, 1);
  }

  .ft {
    flex-shrink: 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
    font-size: 12px;
  }

  .version{
      color: #858585;
  }
  .phrase{
      color: #C3C3C3;
  }

  .author{
      color: #858585;
  }

  .custom-select-button {
    width: 150px;
    height: 40px;
    border: 1px;
    border-color: #C3C3C3;
    border-radius: 9px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
  }

  .chatBox {
    border-radius: 9px;
    border: 1px;
    border-color: transparent;
  }